@using Vmodels
@model PagedList.IPagedList<Vmodels.BaseViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Product";
}

<h2>@ViewData["Title"]</h2>
<!-- Add the search input form -->

<partial name="_AlertMessage" model="Model" />

<table id="tblData" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tblData">
        <!-- DataTable will be loaded here -->
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            $('#tblData').DataTable({
                "ajax": {
                    url: '@Url.Action("GetLastProductInDatabase", "Product")', // Adjust the URL to match your controller and action
                    type: 'GET', // Specify the request type
                    dataType: 'json', // Specify the expected data type
                    dataSrc: 'data' // Specify the data source property
                },
                "columns": [
                    { data: 'id', "width": "15%" },
                    { data: 'title', "width": "15%" },
                    { data: 'isbn', "width": "10%" },
                    { data: 'price', "width": "10%" },
                    { data: 'author', "width": "10%" },
                    { data: 'category.name', "width": "10%" },
                    {
                        data: 'id',
                        "render": function (data) {
                            return `
                                    <div class="btn-group" role="group">
                                        <a href="/Admin/Product/UpSert?id=${data}" class="btn btn-dark"><i class="bi bi-pencil-square"></i>Edit</a>
                                        <a onclick="Delete('/Admin/Product/Delete?id=${data}')" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                                    </div>`;
                        },
                        "width": "25%"
                    }
                ]
            });
        }
    </script>
}
