@model Vmodels.ProductSm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All SubCategory";
}

<h2>@ViewData["Title"]</h2>
<!-- Add the search input form -->



<form id="search-form" method="get" action="@Url.Action("Index")">
    <div class="form-group">
        <label asp-for="Filterby "></label>
        <input asp-for="Filterby" class="form-control" />
        <span asp-validation-for="Filterby" class="text-danger"></span>
    </div>

    <button type="submit" id="Search" class="btn btn-primary">
          
 Search      
    </button>
</form>